<table class="table">
    <thead>
        <tr name="subject">
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Username</th>
            <th scope="col">Password</th>
            <th scope="col">Role</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users" align="center">
            <td>{{user._id}}</td>
            <td>{{user.name}}</td>
            <td>{{user.username}}</td>
            <td>{{user.password}}</td>
            <td>{{user.role}}</td>
            <td>
                <button [disabled]="isDisabled()" mat-raised-button color="primary">Edit</button>
                <button [disabled]="isDisabled()" mat-raised-button color="warn">Delete</button>
            </td>
        </tr>
    </tbody>
</table>
