<!-- <mat-accordion multi="true" *ngIf="rentals.length > 0">
  <mat-expansion-panel *ngFor="let rental of rentals">
    <mat-expansion-panel-header>
      <p>{{ rental.title}}</p>
    </mat-expansion-panel-header>
      <p>{{ rental.content}}</p>
      <mat-action-row>
        <button mat-button color="primary">EDIT</button>
        <button mat-button color="warn">DELETE</button>
      </mat-action-row>
  </mat-expansion-panel>
</mat-accordion> -->
<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Department</th>
      <th scope="col">Salary</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td >id</td>
      <td>first name</td>
      <td>lastName</td>
      <td>department</td>
      <td>salary</td>
      <td>
        <button mat-raised-button color="primary">Edit</button>
        <button mat-raised-button color="warn">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
