<div class="container-fluid">
  <div id="wrap" ng-app>
    <h2>Update Rental</h2>
    <mat-card>
      <form [formGroup]="updateRentalForm" (ngSubmit)="update(rental._id, rental)">
        <div class="subject">Rental</div>
        <br>
        <!-- Rental start-->
        <mat-form-field>
          <input matInput formControlName="receive_date" [matDatepicker]="receive_date"
            placeholder="Rental - Receive Date" required>
          <mat-datepicker-toggle matSuffix [for]="receive_date"></mat-datepicker-toggle>
          <mat-datepicker #receive_date>
            <mat-datepicker-actions>
              <button mat-button matDatepickerCancel>Cancel</button>
              <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
            </mat-datepicker-actions>
          </mat-datepicker>
          <mat-error
            *ngIf="updateRentalForm.controls.receive_date.touched && updateRentalForm.controls.receive_date.invalid">
            <span *ngIf="updateRentalForm.controls.receive_date.errors?.required">Choose the receive date.</span>
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput type="text" name="receive_hours" formControlName="receive_hours"
            placeholder="Rental - Receive hours" required>
          <mat-error
            *ngIf="updateRentalForm.controls.receive_hours.touched && updateRentalForm.controls.receive_hours.invalid">
            <span *ngIf="updateRentalForm.controls.receive_hours.errors?.required">Enter the Receive Hours.</span>
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput formControlName="return_date" [matDatepicker]="return_date" placeholder="Rental - Return Date"
            required>
          <mat-datepicker-toggle matSuffix [for]="return_date"></mat-datepicker-toggle>
          <mat-datepicker #return_date>
            <mat-datepicker-actions>
              <button mat-button matDatepickerCancel>Cancel</button>
              <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
            </mat-datepicker-actions>
          </mat-datepicker>
          <mat-error
            *ngIf="updateRentalForm.controls.return_date.touched && updateRentalForm.controls.return_date.invalid">
            <span *ngIf="updateRentalForm.controls.return_date.errors?.required">Choose the receive date.</span>
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput type="text" name="return_hours" formControlName="return_hours"
            placeholder="Rental - Return hours" required>
          <mat-error
            *ngIf="updateRentalForm.controls.return_hours.touched && updateRentalForm.controls.return_hours.invalid">
            <span *ngIf="updateRentalForm.controls.return_hours.errors?.required">Enter the Return Hours.</span>
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Rate Type</mat-label>
          <mat-select formControlName="rate_type" required>
            <mat-option>--</mat-option>
            <mat-option *ngFor="let rate of rates" [value]="rate">
              {{rate}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="updateRentalForm.controls.rate_type.touched && updateRentalForm.controls.rate_type.invalid">
            <span *ngIf="updateRentalForm.controls.rate_type.errors?.required">Select a Rate Type.</span>
          </mat-error>
        </mat-form-field>
        <!-- Rental end-->

        <!-- Equipment start-->
        <div class="subject">Equipment</div>
        <br>
        <mat-form-field appearance="fill">
          <mat-label>Category</mat-label>
          <mat-select formControlName="category" required>
            <mat-option>--</mat-option>
            <mat-option *ngFor="let category of categories" [value]="category">
              {{category}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="updateRentalForm.controls.category.touched && updateRentalForm.controls.category.invalid">
            <span *ngIf="updateRentalForm.controls.category.errors?.required">Enter the category.</span>
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput type="text" name="make" formControlName="make" placeholder="Equipment - Make" required>
          <mat-error *ngIf="updateRentalForm.controls.make.touched && updateRentalForm.controls.make.invalid">
            <span *ngIf="updateRentalForm.controls.make.errors?.required">Enter the make.</span>
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput type="text" name="model" formControlName="model" placeholder="Equipment - Model" required>
          <mat-error *ngIf="updateRentalForm.controls.model.touched && updateRentalForm.controls.model.invalid">
            <span *ngIf="updateRentalForm.controls.model.errors?.required">Enter the model.</span>
          </mat-error>
        </mat-form-field>

        <!-- Equipment end-->

        <!-- Vendor start-->
        <div class="subject">Vendor</div>
        <br>
        <mat-form-field>
          <input matInput type="text" name="sales_person" formControlName="sales_person"
            placeholder="Vendor - Sales person" required>
          <mat-error
            *ngIf="updateRentalForm.controls.sales_person.touched && updateRentalForm.controls.sales_person.invalid">
            <span *ngIf="updateRentalForm.controls.sales_person.errors?.required">Enter the Sales Person.</span>
          </mat-error>
        </mat-form-field>

        <!-- Vendor end-->

        <!-- Invoice start-->
        <div class="subject">Invoice</div>
        <br>
        <mat-form-field>
          <input matInput type="text" name="amount" formControlName="amount" placeholder="Invoice - Amount" required>
          <mat-error *ngIf="updateRentalForm.controls.amount.touched && updateRentalForm.controls.amount.invalid">
            <span *ngIf="updateRentalForm.controls.amount.errors?.required">Enter the Amount.</span>
            <span *ngIf="updateRentalForm.controls.amount.errors?.pattern">Amount must be number.</span>
          </mat-error>
        </mat-form-field>

        <!-- Invoice end-->
        <br>
        <button mat-flat-button color="accent" [disabled]="!updateRentalForm.valid">Submit Form</button> &nbsp;&nbsp;
        <button mat-flat-button color="primary" (click)="onBack()">Back</button>
      </form>
    </mat-card>
  </div>
</div>
